<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-xl-8">
      <%= render 'opinion-form'%>
      <%= render partial: "shared/opinion-show", locals: {opinions: @opinions_timeline} %>
    </div>
    <div class="col-xl-3">
      </div>
    </div>
  </div>
</div>