<div class="row">
  <div class="col-lg-4">
    <%= render partial: 'shared/opinion-show', locals: {opinions: @today_trend}%>
  </div>
  <div class="col-lg-4">

  </div>
  <div class="col-lg-4">

  </div>
</div>