<% users.each do |user| %>
  <div class="row mb-3 white-backg py-2 px-2 mx-0 who-to-container">
    <div class="col-lg-3 px-0 d-flex align-items-center">
      <%= image_tag(user.prof_pic_attached, class: 'd-block w-100 h-100 mt-1 mx-auto') %>
    </div>
    <div class="col-lg-9 pl-2 d-flex flex-column justify-content-between">
      <p class="font-weight-bold author-name mb-0"><%= link_to(user.name, user_path(user)) %></p>
      <p class="font-weight-bold text-muted mb-0"><%= "#{user.opinions.count} opinions"%><br>
      <p><%= follow_btns(user)%></p>
    </div>
  </div>
<%end%>