/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 
 $sidebar_color: #213346;
 $navbar_color: #51A5E6;

 .user-box {
  box-shadow: 0 0 10px #98a4a5;
 }

 .user-container {
     background-color: $navbar_color;
 }

 .sidebar {
    background-color: $sidebar_color;
    height: 100vh;
    width: 100%;
 }

 .navbar-color {
     background-color: $navbar_color;
 }

 