/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$sidebar-color: #213346;
$navbar-color: #51a5e6;
$grey-text-color: #c9cacc;
$grey-back-color: #f8f9fa;
$box-shadow: #e6e6e6;
$user-name-color:#657c90;
$welcome-font: 'Architects Daughter', cursive;

html,
body {
  background-color: $grey-back-color;
}

a {
  color: unset;
}

ul {
  list-style: none;
}

a:hover {
  color: unset;
}

.user-box {
  box-shadow: 0 0 10px #98a4a5;
  margin-top: 15vh;
}

.user-container {
  background-color: $navbar-color;
}

.sidebar {
  background-color: $sidebar-color;
  height: 100vh;
  width: 100%;
}

.navbar-color {
  background-color: $navbar-color;
}

.author-name {
  font-size: 1.2rem;
}

.section-head {
  font-size: 1.2rem;
  color: $grey-text-color;
}

.white-backg {
  background-color: white;
}

.grey-color {
  color: $grey-text-color;
}

.red-color {
  color: red;
}

.cover-img {
  height: 18vw;
}

.prof-img {
  height: 9rem;
  width: 9rem;
  border: 1px solid $grey-text-color;
}

.user-name {
  font-size: 1.5rem;
}

.user-show {
  width: 95%;
}

.counts {
  margin-bottom: 0.5rem;
}

.counts-text {
  font-size: 0.8rem;
  color: grey;
}

.edit-head {
  font-size: 2rem;
  color: $grey-text-color;
}

.opinion-container {
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.opinion-box {
  box-shadow: 0 0 7px $box-shadow;
}

.all-op {
  font-size: 1rem;
  color: $navbar-color;
}

.opinion-content {
  font-size: 1.1rem;
}

.cu-prof-pic {
  height: 4.5rem;
  width: 4.5rem;
}

.cu-nav-name {
  font-size: 1.2rem;
  color: $user-name-color;
}

.cu-counts {
  font-size: 1.2rem;
  color: $grey-text-color;
}

.cu-counts-text {
  color: $user-name-color;
}

.cu-ul {
  box-shadow: 0 0 3px #182a38;
}

.cu-ul li {
  box-shadow: 0 0 3px #182a38;
}

.welcome-text {
  font-size: 3vw;
  font-family: $welcome-font;
  color: white;
}

.welcome-container {
  width: 80%;
}

.welcome-pic {
  width: 7rem;
  height: 7rem;
}

.nav-logo {
  width: 3.2rem;
  height: 3.2rem;
}

.fav-count {
  font-size: 1rem;
  color: $grey-text-color;
}

.who-to-img {
  width: 3.7vw;
  height: 3.7vw;
}

.who-to-container {
  box-shadow: 0 0 3px $box-shadow;
}

.site-nav {
  color: $user-name-color;
  font-size: 1.2rem;
}

.site-nav li {
  height: 2.5vw;
}

.error-warning {
  font-size: 1.2rem;
}

.trend-title {
  font-size: 1.3rem;
  color: $navbar-color;
}

.date {
  font-size: 0.9rem;
  color: $grey-text-color;
}